# Auto detect text files and perform LF normalization
* text=auto

# bat/shell files
*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf

# source
*.py text

# binaries
*.dll binary
*.exe binary
*.pyd binary
*.zip binary
*.xnb binary
